
# Copie este arquivo para .env e preencha os valores
FLASK_ENV=production
FLASK_DEBUG=False
SECRET_KEY=sua-chave-secreta-aqui
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=Fl@qu1nh@
MYSQL_DATABASE=der_trabalho_bdii
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=Sophia.comercial2006@gmail.com
MAIL_PASSWORD=ybvd lasq xiub gzrc
MAIL_SENDER=Sophia.comercial2006@gmail.com
MAIL_RECIPIENT=Sophia.comercial2006@gmail.com
ADMIN_PASSWORD_HASH= scrypt:32768:8:1$qfTJIS8otHU9oDpi$78a404e42d03ae0d4348a760b1fce49776bb3710c5c659f67ba8fa67fc5b9cda8d6988379b3b4da86a65d9f1053e31435b0813a35dc932193c6a6c2415bb62d2